apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-config
data:
  server.properties: |
    broker.id=1
    zookeeper.connect=zooker-service:2181
    allow.plaintext.listeners=yes
    listeners=PLAINETEXT://:9092
    advertised.listeners=PLAINTEXT://kafka-service:9092